@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
@layer tailwind-base, primereact, tailwind-utilities;
:root {
  --foreground-rgb:  6,55,129;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
 

@media (prefers-color-scheme: dark) {
  :root {
    --primary: 246,246,249;
    --secondary: 238,238,238;
    --dark-primary: 24,26,30;
    --dark-secondary: 37,37,44;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(6,55,129)
    )
    rgb(13, 71, 161);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e4e4e4;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #474747;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}